@import "../../../colors.scss";

.logo-tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  aspect-ratio: 1/1;

  &__image.medium {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px #bcd2c1, inset -5px -5px 5px #e6ffeb;
  }

  &__image.small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px #bcd2c1, inset -5px -5px 5px #e6ffeb;
  }

  &__title.medium {
    margin-top: 8px;
    font-family: "TommyLight";
    color: $secondary;
  }
  &__title.small {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "TommyLight";
    color: $secondary;
  }
}
