@media (max-width: 768px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80svw;
    margin: 0;
    margin-bottom: 32px;
    padding: 16px;
  }
}
