// --tint-color: #81c1da;
// --tint-color: #02131a;
// --secondary: #062735;
// --accent-color: #ff4800;
///////////////////////////
/// BRAUN
// --tint-color: #e6d6b4;
// --secondary: #554a3c;
// --secondary-light: #9b8b76;
// --accent-color: #ff5e00;
/// BRAUN 2
$tint-color: #d1e9d6;
$secondary: #31302e;
$secondary-light: #a2aca1;
$accent-color: #e54220;
$white: #d5dfcc;
