:root {
  // --arrakis-sand: white;
  // --darker-grape: #1d0007;
  // --dark-grape: #4b000a;
  // --light-grape: #ff9100;
  // --space-marine-blue: #5f0030;
  // --sun-light: #ffc08d;
  // --peach: #ffe5ad;
  // --accent: #b8005c;
  --arrakis-sand: white;
  --darker-grape: #01110a;
  --dark-grape: #073326;
  --light-grape: #ffe9cd;
  --space-marine-blue: #339667;
  --sun-light: #f5ac70;
  --peach: #f5ac70;
  --accent: #45d391;
}

@media (max-width: 768px) {
  :root {
    //Marine Gundam
    --arrakis-sand: white;
    --darker-grape: #011627;
    --dark-grape: #00223d;
    --light-grape: #ff0022;
    --space-marine-blue: #41ead4;
    --sun-light: #ff0022;
    --peach: #ffe5ad;
    --accent: #41ead4;
  }
}
//Galaxy
// --arrakis-sand: white;
// --darker-grape: #160020;
// --dark-grape: #35004c;
// --light-grape: #9d00e0;
// --space-marine-blue: #005398;
// --sun-light: #fffceb;
// --peach: #ffd9c5;

//Marine
// --arrakis-sand: white;
// --darker-grape: #071407;
// --dark-grape: #123812;
// --light-grape: #56863f;
// --space-marine-blue: #3886ec;
// --sun-light: #fffceb;
// --peach: #e6ffc5;

// Sun Queen
// --arrakis-sand: rgb(255, 255, 255);
// --darker-grape: #1b0212;
// --dark-grape: #460e36;
// --light-grape: #863f7c;
// --space-marine-blue: #fad11d;
// --sun-light: #fffceb;
// --peach: #feffc5;

// Raspberrie Mint
// --arrakis-sand: rgb(255, 255, 255);
// --darker-grape: #250011;
// --dark-grape: #64002a;
// --light-grape: #d80249;
// --space-marine-blue: #47dfa5;
// --sun-light: #ff90c4;
// --peach: #c5ffdf;
